/data/processed
/data/raw
/checkpoints/sentiment_analysis/dcnn/
/models/sentiment_analysis/dcnn
/models/sentiment_analysis/rnn
/exports/sentiment_analysis/tokenizers
/exports/translator/tokenizers
/venv